html{
  background-color: #d4c07a;
}

.App {
  text-align: center;
}


.home{
  background-color: #d4c07a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chatwindow{
  background-color: #d4c07a;
}

.ownBgText{
  background-color: #b7e576;
}

.otherBgText{
  background-color: #f8f7a5;
}
